/*CSS styling for all buttons*/

/* Arrow animation for all buttons*/
/*Inspired by W3 Schools: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/

/*First row of buttons*/
.row1{
  width: 100%; /*Total width defined*/
  margin-bottom: 2em;
  margin-top: 2em;
}

/*button 1*/
#button1 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-left: 14%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}
/*Makes the button expand*/
#button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
/*Codes what happens when mouse is hovered*/
#button1:hover span {
  padding-right: 25px;
}
  
#button1:hover span:after {
  opacity: 1;
  right: 0;
}

/*button 2*/
#button2 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-right: 9%;
  margin-left: 9%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}

/*Makes the button expand*/
#button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/*Codes what happens when mouse is hovered*/  
#button2:hover span {
  padding-right: 25px;
}
  
#button2:hover span:after {
  opacity: 1;
  right: 0;
}

/*Button 3*/
#button3 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-right: 8%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}

/*Makes the button expand*/
#button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
#button3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/*Codes what happens when mouse is hovered*/
#button3:hover span {
  padding-right: 25px;
}

#button3:hover span:after {
  opacity: 1;
  right: 0;
}

/*Width and margin for the second row of buttons*/
.row2{
  width: 100%;
  margin-bottom: 2em;
}

/*Button 4*/
#button4 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-left: 14%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}

/*Makes the button expand*/
#button4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
#button4 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/*Codes what happens when mouse is hovered*/
#button4:hover span {
  padding-right: 25px;
}
  
#button4:hover span:after {
  opacity: 1;
  right: 0;
}

/*Button 5*/
#button5 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-right: 9%;
  margin-left: 9%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
  }

/*Makes the button expand*/
#button5 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button5 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
/*Codes what happens when mouse is hovered*/
#button5:hover span {
  padding-right: 25px;
}
  
#button5:hover span:after {
  opacity: 1;
  right: 0;
}

/*Button 6*/
#button6 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-right: 8%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}
/*Makes the button expand*/
#button6 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
#button6 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
/*Codes what happens when mouse is hovered*/
#button6:hover span {
  padding-right: 25px;
}

#button6:hover span:after {
  opacity: 1;
  right: 0;
}

/*Width and margin for the third row of buttons*/
.row3{
  width: 100%;
  margin-bottom: 1em;
}

/*Button 7*/
#button7 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-left: 14%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}
/*Makes the button expand*/
#button7 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button7 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
/*Codes what happens when mouse is hovered*/
#button7:hover span {
  padding-right: 25px;
}
  
#button7:hover span:after {
  opacity: 1;
  right: 0;
}

/*Button 8*/
#button8 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-right: 9%;
  margin-left: 9%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}

/*Makes the button expand*/
#button8 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button8 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/*Codes what happens when mouse is hovered*/
#button8:hover span {
  padding-right: 25px;
}

#button8:hover span:after {
  opacity: 1;
  right: 0;
}

/*Button 9*/
#button9 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-right: 8%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}

/*Makes the button expand*/
#button9 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button9 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
/*Codes what happens when mouse is hovered*/
#button9:hover span {
  padding-right: 25px;
}

#button9:hover span:after {
  opacity: 1;
  right: 0;
}


/*Width and margin for the fourth row of buttons*/
.row4{
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
}

/*Button 10*/
#button10 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  margin-left: 14%;
  height: 2.5em;
  border-radius: 8px;
  transition-duration: 0.001s;
}

/*Makes the button expand*/
#button10 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button10 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
/*Codes what happens when mouse is hovered*/
#button10:hover span {
  padding-right: 25px;
}

#button10:hover span:after {
  opacity: 1;
  right: 0;
}

/*Button 11*/
#button11 {
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 17%;
  height: 2.5em;
  margin-left: 35.5%;
  border-radius: 8px;
  transition-duration: 0.001s;
}

/*Makes the button expand*/
#button11 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button11 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
/*Codes what happens when mouse is hovered*/
#button11:hover span {
  padding-right: 25px;
}

#button11:hover span:after {
  opacity: 1;
  right: 0;
}



/*Colour change when mouse is hovered over buttons*/
#button1:hover, #button2:hover, #button3:hover,#button4:hover,#button5:hover,#button6:hover,#button7:hover,#button8:hover,#button9:hover, #button10:hover, #button11:hover {
  background-color:#f44336; 
}
/*Colour change when button is activated*/
#button1:active,#button2:active,#button3:active,#button4:active,#button5:active,#button6:active,#button7:active,#button8:active,#button9:active, #button10:active, #button11:active {
  background-color: #41c423;
  transform: translateY(4px);
}


#output_user{
  display: inline-block;
  border: 1.5px solid red;
  padding: 4.5px 11px;
  font-size: 16px;
  background-color: white;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 68.5%;
  height: 2.8em;
  margin-left: 14%;
  border-radius: 8px;
  transition-duration: 0.001s;
}

/*main code*/

/* Coding for nav bar */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Background */
.background{
  background-image: url("../images/stars-at-night.jpg");
  background-repeat: repeat no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: #282828;
  padding-bottom: 2em;
}

/* Body text */
body{
  background-color: black;
}

/*Placement of Top Nav*/
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Top Nav when mouse is hovered */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav {border-right: 1px solid #bbb;
}

.topnav a.active {
  background-color: white;
  color: black;
}

/* Header colour and padding */
header {
  background-color: #c96567;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Footer colour and padding */
footer {
  background-color: #c96567;
  padding: 24px;
  text-align: center;
  color: white;
}

/* Code for button at the bottom of the page*/
.topbutton {
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}

/* When mouse is hovered colour change*/
.topbutton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #696969;
}

/* Animation code with arrow */
/* Inspired by W3 Schools https://www.w3schools.com/css/css3_buttons.asp */


.topbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* Aperance of arrow */
.topbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* When mouse is hovered */
.topbutton:hover span {
  padding-right: 25px;
}

.topbutton:hover span:after {
  opacity: 1;
  right: 0;
}




