/* First text on page */
.text1{
    width: auto;
    height: auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 70px;
    background: white;
    margin-right: 1.4em;
}

/* Placing the photo and text side by side */
.row {
    width: 90%;
    margin: 1em;
}

/* Photo padding and placement */
#IC1 {
    width: 45%;
    display: inline-block;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    display: inline-block;
    margin-top: 1em;
    background: white;
}
/* Text padding and placement */
#text2 {
    margin-top: 0.4em;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
    color: black;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    display: inline-block;
    background: white;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}


#p5 {
color: #f2f2f2;
font-size: 50px;
text-align: center;
font-weight: bold;
font-family: 'Lato', sans-serif;
margin: auto;

}

/* Video sizing */
#video {
    margin: auto; 
}

/* Text padding and placement */
#text3 {
    width: 45%;
    vertical-align: top;
    font-size: 30px;
    color: black;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    display: inline-block;
    background: white;
    margin-top: 1em;
    text-align: center;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 00.5em;
    padding-right: 0.5em;
    margin-left: 25%;
    margin-bottom: 1em ;
    
}

